<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="./vue.js"></script>
</head>

<body>
    <div id="box">
        <input type="text" v-model="num1">
        <input type="text" v-model="num2"> {{num1+num2}}
    </div>

    <script>
        let vm = new Vue({
            el: '#box',
            data: {
                num1: 1,
                num2: 2
            },
            watch: {
                num1(newVal, oldVal) {
                    console.log(newVal, oldVal);
                }
            }
        });
    </script>
</body>

</html>